<p class="title">Каталог</p>
<div class="catalog-wrapper">
	<div class="catalog__item">
		<img class="catalog__img" src="img/catalog__item.jpg" alt="">
		<span class="catalog__caption">СМИ сообщают, что в Индии был замечен новый внедорожник Chevrolet Trailblazer.</span>
	</div>
	<div class="catalog__item">
		<img class="catalog__img" src="img/catalog__item.jpg" alt="">
		<span class="catalog__caption">
			Официальные диллеры немецкого автоконцерна "Audi" в России начали приём заказов на 5-местный хетчбэк RS 3 Sportback.
		</span>
	</div>
	<div class="catalog__item">
		<img class="catalog__img" src="img/catalog__item.jpg" alt="">
		<span class="catalog__caption">Datsun наращивает продажи в Росии</span>
	</div>
	<div class="catalog__item">
		<img class="catalog__img" src="img/catalog__item.jpg" alt="">
		<span class="catalog__caption">В России может появиться дизельный Hyundai ix25</span>
	</div>	
	<div class="catalog__item">
		<img class="catalog__img" src="img/catalog__item.jpg" alt="">
		<span class="catalog__caption">Lamborghini не хочет выпускать бюджетный спорткар за 200 000 долларов</span>
	</div>	
</div>
	