<wrapper class="form">
	<p class="title">Форма</p>
	<form>
		<select class="select" name="gender">
			<option value="n">Не указан</option>
			<option value="m">Мужской</option>
			<option value="w">Женский</option>

		</select>
		<input type="date">

		<input class="radio" type="radio" name="s">
		<input class="radio" type="radio" name="s">
		<input class="radio" type="radio" name="s">

		<form action="handler.php">
		   <p><b>Lorem ipsum dolor sit amet...</b></p>
		   <p>
			   <input type="checkbox" id="check1"><label for="check1" class="my-check dot"></label><Br>
			   <input type="checkbox" id="check2"><label for="check2">Ipsum</label><Br>
			   <input type="checkbox" id="check3"><label for="check3">Dolor</label><Br>
			   <input type="checkbox" id="check4"><label for="check4">Sit amet</label>
		   </p>
  		</form>
		<!-- <svg width="230" height="140">
		    <polygon points="5,135 115,5 225,135"
		             fill="violet" stroke="purple" stroke-width="5" />
		</svg>
		 -->
	</form>
</wrapper>