<p class="title">Меню</p>

<div class="menu">
	<div class="menu__item">
		<span class="menu__controls">Главная</span>
		<div class="sub-menu__wrapper main">
			<ul class="sub-menu__column">
				<li class="sub-menu__column-item">ТВ и Видео</li>
				<li class="sub-menu__column-item">Компьютерная техника</li>
				<li class="sub-menu__column-item">Фото и видео техника</li>
				<li class="sub-menu__column-item">Телефоны</li>
				<li class="sub-menu__column-item">Протативная техника</li>
				<li class="sub-menu__column-item">Аудиотехника</li>
			</ul>
			<ul class="sub-menu__column">
				<li class="sub-menu__column-item">Автотехника</li>
				<li class="sub-menu__column-item">Техника для дома</li>
				<li class="sub-menu__column-item">Техника для кухни</li>
				<li class="sub-menu__column-item">Встраиваемая техника</li>
				<li class="sub-menu__column-item">Красота и Здоровье</li>
				<li class="sub-menu__column-item">Игры и приставки</li>
			</ul>
			<div class="sub-menu__img">
				<img class="hover-menu__img" src="img/pic0.jpg" alt="pic0">
			</div>		
		</div>
	</div>
	
	<div class="menu__item">
		<span class="menu__controls">Каталог</span>
		<div class="sub-menu__wrapper catalog">
			<ul class="sub-menu__column">
				<li class="sub-menu__column-item">ТВ и Видео</li>
				<li class="sub-menu__column-item">Компьютерная техника</li>
				<li class="sub-menu__column-item">Фото и видео техника</li>
				<li class="sub-menu__column-item">Телефоны</li>
				<li class="sub-menu__column-item">Протативная техника</li>
				<li class="sub-menu__column-item">Аудиотехника</li>
			</ul>
			<ul class="sub-menu__column">
				<li class="sub-menu__column-item">Автотехника</li>
				<li class="sub-menu__column-item">Техника для дома</li>
				<li class="sub-menu__column-item">Техника для кухни</li>
				<li class="sub-menu__column-item">Встраиваемая техника</li>
				<li class="sub-menu__column-item">Красота и Здоровье</li>
				<li class="sub-menu__column-item">Игры и приставки</li>
			</ul>
			<div class="sub-menu__img">
				<img class="hover-menu__img" src="img/pic0.jpg" alt="pic0">
			</div>		
		</div>
	</div>
	
	<div class="menu__item">
		<span class="menu__controls">О компании</span>
		<div class="sub-menu__wrapper about">
			<ul class="sub-menu__column">
				<li class="sub-menu__column-item">ТВ и Видео</li>
				<li class="sub-menu__column-item">Компьютерная техника</li>
				<li class="sub-menu__column-item">Фото и видео техника</li>
				<li class="sub-menu__column-item">Телефоны</li>
				<li class="sub-menu__column-item">Протативная техника</li>
				<li class="sub-menu__column-item">Аудиотехника</li>
			</ul>
			<ul class="sub-menu__column">
				<li class="sub-menu__column-item">Автотехника</li>
				<li class="sub-menu__column-item">Техника для дома</li>
				<li class="sub-menu__column-item">Техника для кухни</li>
				<li class="sub-menu__column-item">Встраиваемая техника</li>
				<li class="sub-menu__column-item">Красота и Здоровье</li>
				<li class="sub-menu__column-item">Игры и приставки</li>
			</ul>
			<div class="sub-menu__img">
				<img class="hover-menu__img" src="img/pic0.jpg" alt="pic0">
			</div>		
		</div>
	</div>

	<div class="menu__item">
		<span class="menu__controls">Контакты</span>
		<div class="sub-menu__wrapper contacts">
			<ul class="sub-menu__column">
				<li class="sub-menu__column-item">ТВ и Видео</li>
				<li class="sub-menu__column-item">Компьютерная техника</li>
				<li class="sub-menu__column-item">Фото и видео техника</li>
				<li class="sub-menu__column-item">Телефоны</li>
				<li class="sub-menu__column-item">Протативная техника</li>
				<li class="sub-menu__column-item">Аудиотехника</li>
			</ul>
			<ul class="sub-menu__column">
				<li class="sub-menu__column-item">Автотехника</li>
				<li class="sub-menu__column-item">Техника для дома</li>
				<li class="sub-menu__column-item">Техника для кухни</li>
				<li class="sub-menu__column-item">Встраиваемая техника</li>
				<li class="sub-menu__column-item">Красота и Здоровье</li>
				<li class="sub-menu__column-item">Игры и приставки</li>
			</ul>
			<div class="sub-menu__img">
				<img class="hover-menu__img" src="img/pic0.jpg" alt="pic0">
			</div>		
		</div>
	</div>

</div>