<h2 class="title">Слайдер</h2>
<div class="slider__wrapper">
	<div class="slider__items-imgs-wrapper">
		<div class="slider__img slider__img_active">
			<img src="img/img-1.jpg" alt="#">
		</div>
		<div class="slider__img">
			<img src="img/img-2.jpg" alt="#">
		</div>
		<div class="slider__img">
			<img src="img/img-3.jpg" alt="#">
		</div>
		<div class="slider__img">
			<img src="img/img-4.jpg" alt="#">
		</div>		
	</div>
	<div class="slider-img-captions">
		<div class="slider-img-captions__item"></div>
	</div>
	<div class="slider__text-captions-wrapper">
		<div class="slider__text-item">В Индии был замечен новый Chevrolet Trailblazer</div>
		<div class="slider__text-item">Datsun наращивает продажи в России</div>
		<div class="slider__text-item">Ford Kuga ожидает премиальная модификация Vignale</div>
		<div class="slider__text-item">Объем продаж Audi по всему миру вырос на 6%</div>
	</div>	
</div>